In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
stocks = pd.read_csv('C:\\Users\\aiden\\dev\\kaggle\\python\\stock_details_5_years.csv')

In [10]:
stocks.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2018-11-29 00:00:00-05:00,43.829761,43.863354,42.639594,43.083508,167080000,0.00,0.0,AAPL
1,2018-11-29 00:00:00-05:00,104.769074,105.519257,103.534595,104.636131,28123200,0.00,0.0,MSFT
2,2018-11-29 00:00:00-05:00,54.176498,55.007500,54.099998,54.729000,31004000,0.00,0.0,GOOGL
3,2018-11-29 00:00:00-05:00,83.749496,84.499496,82.616501,83.678497,132264000,0.00,0.0,AMZN
4,2018-11-29 00:00:00-05:00,39.692784,40.064904,38.735195,39.037853,54917200,0.04,0.0,NVDA

In [11]:
stocks.isna().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
Company         0
dtype: int64

In [12]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602962 entries, 0 to 602961
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          602962 non-null  object
 1   Open          602962 non-null  float64
 2   High          602962 non-null  float64
 3   Low           602962 non-null  float64
 4   Close         602962 non-null  float64
 5   Volume        602962 non-null  int64
 6   Dividends     602962 non-null  float64
 7   Stock Splits  602962 non-null  float64
 8   Company       602962 non-null  object
dtypes: float64(6), int64(1), object(2)
memory usage: 41.4+ MB

In [17]:
stocks['Date'] = pd.to_datetime(stocks['Date'])
stocks.set_index('Date', inplace=True)

C:\Users\aiden\AppData\Local\Temp\ipykernel_26736\2514506225.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  stocks['Date'] = pd.to_datetime(stocks['Date'])

In [14]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602962 entries, 0 to 602961
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          602962 non-null  object
 1   Open          602962 non-null  float64
 2   High          602962 non-null  float64
 3   Low           602962 non-null  float64
 4   Close         602962 non-null  float64
 5   Volume        602962 non-null  int64
 6   Dividends     602962 non-null  float64
 7   Stock Splits  602962 non-null  float64
 8   Company       602962 non-null  object
dtypes: float64(6), int64(1), object(2)
memory usage: 41.4+ MB

In [18]:
stocks['Volume'] = stocks['Volume'].astype('float64')
stocks['Company'] = stocks['Company'].astype('category')

In [19]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 602962 entries, 2018-11-29 00:00:00-05:00 to 2023-11-29 00:00:00-05:00
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Open          602962 non-null  float64
 1   High          602962 non-null  float64
 2   Low           602962 non-null  float64
 3   Close         602962 non-null  float64
 4   Volume        602962 non-null  float64
 5   Dividends     602962 non-null  float64
 6   Stock Splits  602962 non-null  float64
 7   Company       602962 non-null  category
dtypes: category(1), float64(7)
memory usage: 54.1+ MB