In [6]:
stocks <- as.data.frame(EuStockMarkets)

In [7]:
head(stocks)

  DAX     SMI    CAC    FTSE
1 1628.75 1678.1 1772.8 2443.6
2 1613.63 1688.5 1750.5 2460.2
3 1606.51 1678.6 1718.0 2448.2
4 1621.04 1684.1 1708.1 2470.4
5 1618.16 1686.6 1723.1 2484.7
6 1610.61 1671.6 1714.3 2466.8

In [8]:
str(stocks)

'data.frame':	1860 obs. of  4 variables:
 $ DAX : num  1629 1614 1607 1621 1618 ...
 $ SMI : num  1678 1688 1679 1684 1687 ...
 $ CAC : num  1773 1750 1718 1708 1723 ...
 $ FTSE: num  2444 2460 2448 2470 2485 ...

In [6]:
summary(stocks)

      DAX            SMI            CAC            FTSE
 Min.   :1402   Min.   :1587   Min.   :1611   Min.   :2281
 1st Qu.:1744   1st Qu.:2166   1st Qu.:1875   1st Qu.:2843
 Median :2141   Median :2796   Median :1992   Median :3247
 Mean   :2531   Mean   :3376   Mean   :2228   Mean   :3566
 3rd Qu.:2722   3rd Qu.:3812   3rd Qu.:2274   3rd Qu.:3994
 Max.   :6186   Max.   :8412   Max.   :4388   Max.   :6179

In [9]:
colnames(stocks)

[1] "DAX"  "SMI"  "CAC"  "FTSE"

In [10]:
names(stocks)

[1] "DAX"  "SMI"  "CAC"  "FTSE"