In [3]:
stocks <- EuStockMarkets

In [4]:
head(stocks)

         DAX     SMI    CAC    FTSE
1991.496 1628.75 1678.1 1772.8 2443.6
1991.500 1613.63 1688.5 1750.5 2460.2
1991.504 1606.51 1678.6 1718.0 2448.2
1991.508 1621.04 1684.1 1708.1 2470.4
1991.512 1618.16 1686.6 1723.1 2484.7
1991.515 1610.61 1671.6 1714.3 2466.8

In [5]:
str(stocks)

 Time-Series [1:1860, 1:4] from 1991 to 1999: 1629 1614 1607 1621 1618 ...
 - attr(*, "dimnames")=List of 2
  ..$ : NULL
  ..$ : chr [1:4] "DAX" "SMI" "CAC" "FTSE"

In [6]:
summary(stocks)

      DAX            SMI            CAC            FTSE
 Min.   :1402   Min.   :1587   Min.   :1611   Min.   :2281
 1st Qu.:1744   1st Qu.:2166   1st Qu.:1875   1st Qu.:2843
 Median :2141   Median :2796   Median :1992   Median :3247
 Mean   :2531   Mean   :3376   Mean   :2228   Mean   :3566
 3rd Qu.:2722   3rd Qu.:3812   3rd Qu.:2274   3rd Qu.:3994
 Max.   :6186   Max.   :8412   Max.   :4388   Max.   :6179