In [2]:
times <- time(EuStockMarkets)

In [3]:
stocks <- as.data.frame(EuStockMarkets)
stocks$Date <- times

In [4]:
head(stocks)

  DAX     SMI    CAC    FTSE   Date
1 1628.75 1678.1 1772.8 2443.6 1991.496
2 1613.63 1688.5 1750.5 2460.2 1991.500
3 1606.51 1678.6 1718.0 2448.2 1991.504
4 1621.04 1684.1 1708.1 2470.4 1991.508
5 1618.16 1686.6 1723.1 2484.7 1991.512
6 1610.61 1671.6 1714.3 2466.8 1991.515

In [5]:
summary(stocks)

      DAX            SMI            CAC            FTSE           Date
 Min.   :1402   Min.   :1587   Min.   :1611   Min.   :2281   Min.   :1991
 1st Qu.:1744   1st Qu.:2166   1st Qu.:1875   1st Qu.:2843   1st Qu.:1993
 Median :2141   Median :2796   Median :1992   Median :3247   Median :1995
 Mean   :2531   Mean   :3376   Mean   :2228   Mean   :3566   Mean   :1995
 3rd Qu.:2722   3rd Qu.:3812   3rd Qu.:2274   3rd Qu.:3994   3rd Qu.:1997
 Max.   :6186   Max.   :8412   Max.   :4388   Max.   :6179   Max.   :1999

In [6]:
str(stocks)

'data.frame':	1860 obs. of  5 variables:
 $ DAX : num  1629 1614 1607 1621 1618 ...
 $ SMI : num  1678 1688 1679 1684 1687 ...
 $ CAC : num  1773 1750 1718 1708 1723 ...
 $ FTSE: num  2444 2460 2448 2470 2485 ...
 $ Date: Time-Series  from 1991 to 1999: 1991 1992 1992 1992 1992 ...

In [8]:
str(stocks$SMI)

 num [1:1860] 1678 1688 1679 1684 1687 ...

In [5]:
colnames(stocks)

[1] "DAX"  "SMI"  "CAC"  "FTSE"

In [ ]:
colSums(is.na(stocks))
# sum(is.na(stocks))

[1] 0

In [11]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.6
✔ forcats   1.0.1     ✔ stringr   1.6.0
✔ ggplot2   4.0.0     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors